.list-view:disabled {
    -fx-opacity: 1;
}

.list-cell {
    -fx-font-size: 15.0;
    -fx-text-fill: black;
    -fx-control-inner-background: white;
    -fx-control-inner-background-alt: derive(-fx-control-inner-background, 50%);
}

.list-cell:filled:selected:focused, .list-cell:filled:selected, .list-cell:even, .list-cell:odd {
    -fx-background-color: white;
}